# Node modules
backend/node_modules
frontend/node_modules

# Environment variables
.env

# Logs
*.log

# React Native / Android build files
frontend/android/.gradle
frontend/android/app/build
frontend/android/build

# Keystore files
*.keystore

# Local config
frontend/android/local.properties